# build output
dist/
.astro/
/public/downloads/orogen-mica-whitepaper.pdf

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.production

# editor
.vscode/
.idea/
.DS_Store
